<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="text/html" http-equiv="content-type">
    <title>Good Thymes Virtual Grocery</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/master.css" th:href="@{css/gtvg.css}">
</head>
<body>
<img src="../../images/account/sign-in-google.png" th:src="@{/images/account/sign-in-google.png}" alt=""/>
<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
<p th:text="${name}">haha</p>
<p th:text="${#locale.country}"></p>
<form action>
</form>

</body>
</html>
