<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="text/html" http-equiv="content-type">
    <title>Good Thymes Virtual Grocery</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/master.css" th:href="@{css/gtvg.css}">
</head>
<body>
<header>
    <!--导航栏-->
    <nav>
        <!--logo  or web name-->
        <img src="" alt=""/>
        <a href="#">课程中心</a>
        <a href="#">关于我们</a>
        <div>
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#">我的教室</a>
        </div>
        <div></div>

    </nav>
</header>
<div>
    <header
</div>
</body>
</html>
